$primaryColor: #4592fe;
$primaryColorActive: #0066ff;
$primaryColorHover: #8ebdff;
$commentStyle: #6699de;

$pureWhite: white;
$primaryWhite: #f3f3f2;
$midGrey: #bbbbbb;
$linearGrey: #808080;
$primaryBlack: #343434;
$pureBlack: black;
