*,
*::before,
*::after {
  box-sizing: border-box;
}


form {
  width: 100%;
  margin: 0 auto;
  line-height: 1.5;
  border-radius: 10px;

}

form .field {
  width: 100%;
  position: relative;
  margin-bottom: 25px;
}


/* INPUT SIZES */

/* INPUT DEFAULT */
.field>input {
  width: 80%;
  margin-left: 10%;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 5px;

}

.field>input::placeholder {
  display: flex;
  text-align: center;
}


/* LARGE SIZE */
form .large>input {
  width: 100%;
  margin-left: 20%;
  /* padding-left: 40%; */
  height: 54px;
  font-size: 1.4rem;
}

form .large>label {
  width: 100%;
  /* padding: 15px 15px; */
  height: 54px;
  margin: 0;
}

/* MEDIUM SIZE */
form .medium>input {
  width: 85%;
  margin-left: 7.5% !important;
  /* padding-left: 30% !important; */
  height: 48px;
  font-size: 1.2em;
}

form .medium>label {
  width: 85%;
  /* padding: 12px 15px; */
  margin-left: 7.5%;
  height: 48px;
}

/* SMALL SIZE */
form .small>input {
  width: 75%;
  margin-left: 12.3% !important;
  /* padding-left: 15% !important; */
  height: 45px;
  font-size: 1rem;

}

form .small>label {
  width: 75%;
  /* padding: 10px 15px; */
  margin-left: 12.3%;
  height: 45px;
}

/* COLOR STYLE */

/* PRIMARY */
.primary>label {
  background: #2273c3 !important;
}

/* SUCCESS */
.success>label {
  background: #41b354 !important;
}

/* DANGER */
.danger>label {
  background: #c82c2c !important;
}

/* WARNING */
.warning>label {
  background: #e4af3d !important;
}

form .field label {
  position: absolute;
  top: 0;
  left: 0;
  background: #2c3e50;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 5px;
  font-size: 1.2vw;
  border-radius: 5px;
  letter-spacing: 0.075em;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}

form .field input,
form .field textarea {
  border: none;
  background: #E8E9EA;
  /* width: 80.5%; */
  margin: 0;
  /* padding-left: 10%; */
  /* height: 55px; */
  color: #313A3D;
  /* font-size: 1.4em; */
  letter-spacing: 0.05em;
  /* text-transform: uppercase; */
}

form .field input[uppercase],
form .field textarea[uppercase] {
  text-transform: uppercase;
}

form .field input:focus,
form .field input.focused {
  outline: none;
}


form .field input:focus+label,
form .field input.focused+label {
  width: 18%;
  background: #FD9638;
  color: #313A3D;
  /* text-align: center; */

}


form .field:hover label {
  width: 18%;
  background: #313A3D;
  color: white;
}

@media only screen and (max-width: 768px) {

  form .field label {
    padding: 13.3px 5px;
    font-size: 0.9rem;
    margin: auto;
    height: 41px;
    touch-action: none;
  }

  form .field input {

    height: 41px;
    margin-left: 20% !important;
    width: 80%;
    touch-action: none;

  }

  form .field label {
    width: 100%;
    touch-action: none;
  }

  form .field input:focus+label {
    touch-action: none;
  }



  form .field input.focused+label {
    width: 25%;
    touch-action: none;

  }


  form .field:hover label {
    width: 25%;
    background: #313A3D;
    color: white;
  }


}